.profpicstyle {
    width: 350px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header{
    font-family: 'NewYork-Bold';
    text-align: center;
}
.middlep {
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.row_abt{
    display:flex;
}
.col_abt{
    flex:50%;
}
.padder_col {
    padding-left: 100px;
}
.adj_below{
    padding-top: 50px;
}
@media screen and (max-width: 1000px) {
    .row_abt{
      display: block;
    }
    .padder_col{
        padding: 0;
    }
  }