.center-footer {
    text-align: center;
}
.cn {
    font-family: 'NewYork-Bold';
}
.ic {
    font-family: 'Nunito Sans', sans-serif;
}
.l-icon {
    width: 60px;
}
.e-icon {
    width: 35px;
}
.icons {
    text-align: center;
    margin-top: -10px;
}