.tnah{
    //padding-bottom: 50px;
    width: 100%;
    height: auto;
}
.jamitimg{
  width: 80%;
  height: auto;
}
.page-wrapper {
    margin: 15px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
.heading, .skill-set {
    font-family: 'NewYork-BoldItalic';
    margin-left: 1.5rem;
    margin-top: 4.5rem;
}
.skill-set{
    font-size: 1.1em;
    margin-top: 0.75em;
    font-family: 'Nunito Sans', sans-serif;
    color: #838383;
}
.intro-headline {
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-size: 1.0em;
    margin-left: 1.5rem;
}
.info {
    font-size: 1.0em;
    //margin-left: 10rem;
    margin-top: 0.50m;
    font-family: 'Nunito Sans', sans-serif; 
    display: inline-block;
    margin-left: 1.5rem;
    max-width: 500px;
}
.spacer {
    margin-top: 2rem;
}
.align-center {
    margin: auto;
    width: 50%;
}
.question {
  font-weight: 600;
}
.styletnah {
  width: 100%;
  margin-top: 1.0rem;
  margin-left: -2.0rem;
  height: auto;
  //box-shadow: 4.0px 4.0px 4.0px 4.0px #ccc;
}
.caption{
  font-family: 'Nunito Sans', sans-serif; 
  font-size: 0.75em;
  text-align: center;
  margin-left: -2.5rem;
  margin-top: 1.0rem;
}
.question-box {
  font-size: 1.2em;
}
@media screen and (min-width: 800px) {
    .column {
        flex: 1;
      }
    
      .double-column {
        flex: 2;
      }
      .jamitimg{
        width: 50%;
        height: auto;
      }
      .column_ji{
        width: 100%;
      }
  }
@media screen and (max-width: 800px) {
  .heading, .skill-set, .intro-headline, .info {
    margin-left: -1.5rem;
  }
  .styletnah {
    width: 150%;
    margin-left: -4.0rem;
  }
}
/** JAM IT **/
.row_ji {
  display: flex;
}

.column_ji {
  width: 50%;
}
.intro_ji{
  margin-left: -225px;
  width: 40%;
}
.pic_ji{
  margin-right: 100px;
}
@media screen and (max-width: 800px) {
  .row_ji{
    display:block;
  }
  .intro_ji{
    margin-left:0;
    width: 100%;
  }
}
.stage {
  display: flex;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin-top: 75px;
  margin-left: 80px;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-3 {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-25px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}
.boring_link{
  color: black;
}
.boring_link:hover{
  text-decoration:none;
  color: grey;
}
@media only screen and (min-width: 600px) {
  .box{
    margin-left: 200px;
  }
  .arrange_ji{
    margin-left: 400px;
  }
}
@media only screen and (min-width: 800px) {
  .box{
    margin-left: 400px;
  }
  .arrange_ji{
    margin-left: 600px;
  }
}
.arrange_ji{
  margin-left: 275px;
}

@media only screen and (min-width: 900px) {
  .arrange_ji{
    margin-left: 375px;
  }
}